set completion-ignore-case on
set show-all-if-ambiguous on

set show-mode-in-prompt on
set vi-ins-mode-string "[I]"
set vi-cmd-mode-string "\1\e[1;31m\2[N]\1\e[0m\2"
#set keyseq-timeout 1
# disabled, since this timeout allows for custom keybinds (e.g. ciw, below)

set editing-mode vi

set keymap vi-insert
"\C-p": previous-history
"\C-n": next-history
"\C-l": clear-screen
# ctrl-backspace: delete last word
"\C-h": "\C-w"

set keymap vi-command
"\C-y": copyline
"daw": "lbdw"
"yaw": "lbyw"
"caw": "lbcw"
"daW": "lBdW"
"yaW": "lByW"
"caW": "lBcW"
"diw": "lbdw"
"yiw": "lbyw"
"ciw": "lbcw"
"diW": "lBdW"
"yiW": "lByW"
"ciW": "lBcW"
"da\"": "lF\"df\""
"di\"": "lF\"lmtf\"d`t"
"ci\"": "di\"i"
"ca\"": "da\"i"
"da'": "lF'df'"
"di'": "lF'lmtf'd`t"
"ci'": "di'i"
"ca'": "da'i"
"da`": "lF\`df\`"
"di`": "lF\`lmtf\`d`t"
"ci`": "di`i"
"ca`": "da`i"
"da(": "lF(df)"
"di(": "lF(lmtf)d`t"
"ci(": "di(i"
"ca(": "da(i"
"da)": "lF(df)"
"di)": "lF(lmtf)d`t"
"ci)": "di(i"
"ca)": "da(i"
"da{": "lF{df}"
"di{": "lF{lmtf}d`t"
"ci{": "di{i"
"ca{": "da{i"
"da}": "lF{df}"
"di}": "lF{lmtf}d`t"
"ci}": "di}i"
"ca}": "da}i"
"da[": "lF[df]"
"di[": "lF[lmtf]d`t"
"ci[": "di[i"
"ca[": "da[i"
"da]": "lF[df]"
"di]": "lF[lmtf]d`t"
"ci]": "di]i"
"ca]": "da]i"
"da<": "lF<df>"
"di<": "lF<lmtf>d`t"
"ci<": "di<i"
"ca<": "da<i"
"da>": "lF<df>"
"di>": "lF<lmtf>d`t"
"ci>": "di>i"
"ca>": "da>i"
