[submodule "home/.config/st/st-flexipatch"]
	path = home/.config/st/st-flexipatch
	url = https://github.com/bakkeby/st-flexipatch
[submodule "dotfiles-personal"]
	path = dotfiles-personal
	url = git@github.com:karlivory/dotfiles-personal.git
[submodule "home/.config/dmenu/dmenu-flexipatch"]
	path = home/.config/dmenu/dmenu-flexipatch
	url = https://github.com/bakkeby/dmenu-flexipatch
[submodule "home/.config/slock/slock-flexipatch"]
	path = home/.config/slock/slock-flexipatch
	url = https://github.com/bakkeby/slock-flexipatch
