[submodule "dotfiles-personal"]
	path = dotfiles-personal
	url = git@github.com:karlivory/dotfiles-personal.git
[submodule "home/.config/st/st-flexipatch"]
	path = home/.config/st/st-flexipatch
	url = https://github.com/bakkeby/st-flexipatch
