---
##====================================== BREW =========================================##
#########################################################################################

- name: Install Homebrew
  ansible.builtin.shell: |
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  args:
    creates: /home/linuxbrew/.linuxbrew/bin/brew

- name: Update homebrew
  community.general.homebrew:
    path: /home/linuxbrew/.linuxbrew/bin
    update_homebrew: true

- name: Set brew tap variables
  ansible.builtin.set_fact:
    local_tap_path: "/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/karl/homebrew-local"
    local_formula_dir: "{{ home }}/.config/homebrew-formulas"
    local_tap_formula_path: "/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/karl/homebrew-local/Formula"

- name: Ensure local tap directory exists
  ansible.builtin.file:
    path: "{{ local_tap_path }}"
    state: directory
    mode: "0755"

- name: Symlink entire local formulas directory as tap Formula/
  ansible.builtin.file:
    src: "{{ local_formula_dir }}"
    dest: "/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/karl/homebrew-local/Formula"
    state: link
    force: true

- name: Create symbolic link for fonts installed via homebrew/linux-fonts
  ansible.builtin.file:
    src: /home/linuxbrew/.linuxbrew/share/fonts
    dest: "{{ home }}/.local/share/fonts"
    state: link

- name: Install packages via homebrew
  register: homebrew_result
  community.general.homebrew:
    path: /home/linuxbrew/.linuxbrew/bin
    state: present
    name:
      # - karl/local/bruno
      # - karl/local/insomnia
      - karl/local/lazygit
      - karl/local/jetbrains-toolbox
      - karl/local/typing-test
      - dive
      - helm
      # - homebrew/linux-fonts/font-ubuntu-mono-nerd-font
      - kubectl
      # - lazygit
      - lf
      - neovim
      - sops
      - yt-dlp

- name: Refresh font cache
  ansible.builtin.command: fc-cache -fv
  when: homebrew_result.changed
