[Unit]
Description=picom
Requires=graphical-session.target
After=dbus.service graphical-session.target xorg.target

[Service]
ExecStart=picom -c
Restart=always
Slice=session.slice

[Install]
WantedBy=desktop.target
